<%= render :partial => 'stripe/js' %>
<div class="row centered">
  <div class="medium-6 medium-centered">
    <div class="small-5 medium-6 columns">
      <h3 id="amount">Total donation amount:</h3>
    </div>
    <div class="small-5 medium-6 columns">
      <%= form_for :donation, html: {class: "donate-form"} do |f|%>
        <% @legislators.each do |legislator| %>
          <%= f.hidden_field :legislator_ids, :multiple => true, :value => legislator.id %>
        <% end %>
        <%= f.text_field :amount, placeholder: "Amount" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-8 medium-9 columns">
    <input data-stripe="number"/>
    cvc
    <input data-stripe="cvc"/>
    exp-month
    <input data-stripe="exp-month"/>
    exp-year
    <input data-stripe="exp-year"/>
  </div>
  <div class="small-2 medium-3 columns">
    <%= f.submit "Donate"%>
  </div>
    <% end %>
</div>
</br>

<ul>
  <% @legislators.each do |legislator| %>
    <div class="legislator_slider_block" data-legislator-id="<%= legislator.id %>">
      <div class="row">
        <%= legislator.first_name %> <%= legislator.last_name %> <span class="legislator_amount"></span>
      </div>
      <div class="row">
        <div class="small-9 medium-9 columns">
          <div class="range-slider" data-slider data-options="">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden" class="legi_slider">
          </div>
        </div>
      </div>
    </div>

  <% end %>
</ul>

